body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  color: #333;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.run-script-button {
  font-size: 1rem;
  padding: 0.75rem 1.5rem; /* Increase padding for a more prominent appearance */
  margin-bottom: 2rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
}

.run-script-button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box-shadow for hover effect */
}

.run-script-button:disabled {
  background-color: #7a7a7a;
  cursor: not-allowed;
  box-shadow: none; /* Remove box-shadow for disabled state */
}

.result-container {
  width: 80%;
  max-height: 50vh;
  overflow-y: auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.result {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.error-message {
  color: red;
  font-weight: bold;
}
.intro-section {
  width: 80%;
  text-align: center;
  margin-bottom: 2rem;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.intro-section h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.intro-section p {
  font-size: 1rem;
  line-height: 1.4;
}